@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

main .main_banner {
  background: url(https://i.pinimg.com/originals/a8/60/2d/a8602de1f8e54f98c755551618442ae2.jpg) center/cover no-repeat fixed;
  width: 100%;
  height: 100vh;
}
main .main_banner h1 {
  position: absolute;
  left: 35%;
  top: 30%;
  font-size: 60px;
  color: #ffde24;
  opacity: 0;
}
main .main_banner .space {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.562);
  position: absolute;
  left: 20%;
  top: 20%;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  color: #000;
  border: solid 3px rgba(0, 0, 0, 0.459);
}
main .main_banner .space:hover {
  transform: rotate(-360deg);
  transition: 1.5s;
  font-size: 30px;
}
main .main_banner .text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 40%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  left: 50%;
  top: 30%;
}
main .main_banner .text span {
  position: absolute;
  font-size: 200px;
  bottom: 97%;
  right: 167%;
  color: rgba(255, 255, 255, 0);
}
main .main_banner .text:hover {
  opacity: 1;
  transition: 2s;
}
main .cont_in {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .cont_in img {
  width: 400px;
  height: 300px;
}
main .inner2 {
  padding-bottom: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #7473b1;
  background: radial-gradient(circle, #9594e9 42%, #607ccb 99%);
  text-align: center;
  background-attachment: fixed;
}
main .inner2 h1 {
  margin: 0px;
  font-weight: 200;
  color: #fff;
  padding-top: 40px;
  font-size: 50px;
}
main .inner2 .cont_in {
  padding-top: 30px;
}
main .inner2 .ph {
  margin: 10px 30px;
}
main .inner2 .info {
  background-color: rgba(0, 0, 0, 0.4);
  height: 90px;
}
main .inner2 .info h1 {
  font-size: 30px;
  margin: 0px;
}
main .inner3 {
  background-color: #b6c1da;
}
main .inner3 .cont_lo {
  display: flex;
  padding: 0px 100px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(34, 54, 77, 0.6);
}
main .inner3 .cont_lo a {
  margin: 20px;
}
main .inner3 .cont_lo img {
  width: 200px;
  height: 80px;
}
main .inner4 {
  text-align: center;
  background-color: rgba(63, 57, 145, 0.7);
}
main .inner4 .text_4 {
  width: 50%;
  margin: 0 auto;
}
main .inner4 .text_4 h1 {
  margin: 0px;
}
main .video {
  display: flex;
  justify-content: center;
  background: #7473b1;
  background: radial-gradient(circle, #9594e9 42%, #607ccb 99%);
  flex-wrap: wrap;
}
main .vid {
  margin: 10px 30px;
}

footer {
  width: 100%;
  background-color: #000;
}
footer h1 {
  margin: 0px;
  color: #fff;
  padding: 30px;
  text-align: center;
}

@media screen and (max-width:950px){
  main .main_banner .text {
    text-align: center;
    color: #fff;
    font-size: 17px;
    width: 40%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 1;
    left: 45%;
    top: 20%;
  }
}
@media screen and (max-width:650px){
  main .inner3 .cont_lo img {
    width: 100px;
    height: 50px;
  }
}
@media screen and (max-width:601px){
  main .main_banner .text {
    text-align: center;
    color: #fff;
    font-size: 15px;
    width: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 1;
    left: 40%;
    top: 15%;
  }
}
@media screen and (max-width:570px){
  main .vid {
    margin: 5px 0px;
  }
  .vid iframe{
    width: 500px;
  }
}
@media screen and (max-width:501px){
  .vid iframe{
    width: 450px;
  }
  main .inner3 .cont_lo img {
    width: 50px;
    height: 30px;
  }
}
@media screen and (max-width:455px){
  .vid iframe{
    width: 400px;
  }
}
@media screen and (max-width:401px){
  .space{
    display: none;
  }
  main .main_banner .text {
    text-align: center;
    color: #fff;
    font-size: 15px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 1;
    left: 0%;
    top: 15%;
  }
  .vid iframe{
    width: 350px;
  }
  main .inner2 .ph {
    margin: 5px 0px;
  }
  main .cont_in img {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width:355px){
  .vid iframe{
    width: 300px;
  }
  main .inner3 .cont_lo img {
    width: 40px;
    height: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
