@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

//main

main{
    .main_banner{
        background: url(https://i.pinimg.com/originals/a8/60/2d/a8602de1f8e54f98c755551618442ae2.jpg) center / cover no-repeat fixed;
        width: 100%;
        height: 100vh;
        h1{
            position: absolute;
            left: 35%;
            top: 30%;
            font-size: 60px;
            color: rgb(255, 222, 36);
            opacity: 0;
        }
        .space{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.562);
            position: absolute;
            left: 20%;
            top: 20%;
            text-align: center;
            font-size: 50px;
            text-decoration: none;
            color: #000;
            border: solid 3px rgba(0, 0, 0, 0.459);
        }
        .space:hover{
            transform: rotate(-360deg);
            transition: 1.5s;
            font-size: 30px;
        }
        .text{
            text-align: center;
            color: #fff;
            font-size: 20px;
            width: 40%;
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.5);
            border-radius: 10px;
            opacity: 0;
            left: 50%;
            top: 30%;
        }
        .text span{
            position: absolute;
            font-size: 200px;
            bottom: 97%;
            right: 167%;
            color: rgba(255, 255, 255, 0);
        }
        .text:hover{
            opacity: 1;
            transition: 2s;
        }
    }
    .cont_in{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 400px;
            height: 300px;
        }
    }
    .inner2{
        padding-bottom: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: rgb(116, 115, 177);
        background: radial-gradient(circle, rgba(149,148,233,1) 42%, rgba(96,124,203,1) 99%);
        text-align: center;
        background-attachment: fixed;
        h1{
            margin: 0px;
            font-weight: 200;
            color: #fff;
            padding-top: 40px;
            font-size: 50px;
        }
        .cont_in{
            padding-top: 30px;
        }
        .ph{
            margin: 10px 30px;
        }
        .info{
            background-color: rgba($color: #000000, $alpha: 0.4);
            height: 90px;
            h1{
                font-size: 30px;
                margin: 0px;
            }
        }
    }
    .inner3{
        background-color: rgb(182, 193, 218);
        .cont_lo{
            a{
                margin: 20px;
            }
            display: flex;
            padding: 0px 100px;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: rgba($color: #22364d, $alpha: 0.6);
            img{
                width: 200px;
                height: 80px;
            }
        }
    }
    .inner4{
        text-align: center;
        background-color: rgba($color: #3f3991, $alpha: 0.7);
        .text_4{
            width: 50%;
            margin: 0 auto;
            h1{
                margin: 0px;
            }
        }
    }
    .video{
        display: flex;
        justify-content: center;
        background: rgb(116, 115, 177);
        background: radial-gradient(circle, rgba(149,148,233,1) 42%, rgba(96,124,203,1) 99%);
        flex-wrap: wrap;
    }
    .vid{
        margin: 10px 30px;
    }
}
footer{
    width: 100%;
    background-color: #000;
    h1{
        margin: 0px;
        color: #fff ; 
        padding: 30px;
        text-align: center;
    }
}